{{define "forget_password"}}
{{template "header" .}}
<div class="container h-100">
	<div class="row h-100 mt-4 justify-content-sm-center">
		<div class="col-sm-4 card">
			<div class="card-body">
			<h4 class="card-title">忘记密码</h4>
		  <form class="needs-validation" method="POST" action="/forget_password" novalidate>
				<div class="form-group">
		    	<label for="inputEmail">Email</label>
		    	<input type="email" name="email" id="inputEmail" 
						class="form-control form-control-sm 
						{{if ne 0 (len .Error) }} {{if eq "" (index .Error "Email")}}is-valid{{else}}is-invalid{{end}} {{end}}" 
						placeholder="请输入Email" required 
						value="{{if ne 0 (len .Error)}}{{.User.Email}}{{end}}"
						{{if ne 0 (len .Error)}}autofocus="autofocus"{{end}}
						{{if and (ne 0 (len .Error)) (ne "" (index .Error "Email"))}}autofocus="autofocus"{{end}}>
					<div class="invalid-feedback" id="email-invalid-feedback">
						{{if ne 0 (len .Error)}}
							{{if ne "" (index .Error "Email")}}
								{{index .Error "Email"}}
							{{end}}
						{{else}}
						请输入Email
						{{end}}
					</div>
				</div>
				<button type="submit" class="btn btn-primary btn-sm">发送邮件</button>
				<p class="text-sm-right">
					<a href="/login">登录</a>
					<span>/</span>
					<a href="/register">注册</a>
				</p>
		  </form>
			<p class="mt-5 mb-3 text-muted">&copy; {{.SiteName}} 2017-2018</p>
			</div>
		</div>
	</div>
</div>
{{template "footer" .}}
{{end}}
