{{define "register"}}
{{template "header"}}
<div class="container h-100">
	<div class="row h-100 mt-4 justify-content-sm-center">
		<div class="col-sm-4 card">
			<div class="card-body">
			<h4 class="card-title">注册</h4>
		  <form class="needs-validation" method="POST" action="/register" novalidate>
				<div class="form-group">
		    	<label for="inputEmail">Email</label>
		    	<input type="email" name="email" id="inputEmail" class="form-control form-control-sm" placeholder="请输入Email" required autofocus>
					<div class="invalid-feedback">
						请输入Email
					</div>
				</div>
				<div class="form-group">
		    	<label for="inputPassword">密码</label>
		    	<input type="password" name="password" id="inputPassword" class="form-control form-control-sm" placeholder="Password" required>
					<div class="invalid-feedback">
						请输入密码
					</div>
				</div>
				<div class="form-group">
		    	<label for="inputPasswordConfirm">确认密码</label>
		    	<input type="password" name="password_confirm" id="inputPasswordConfirm" class="form-control form-control-sm" placeholder="Password" required>
					<div class="invalid-feedback">
						请确认密码
					</div>
				</div>
				<button type="submit" class="btn btn-primary btn-sm">注册</button>
		  </form>
			<p class="mt-5 mb-3 text-muted">&copy; {{.SiteConfig.Name}} 2017-2018</p>
			</div>
		</div>
	</div>
</div>
{{template "footer"}}
{{end}}
