{{define "register"}}
{{template "header" .}}
<div class="container h-100">
	<div class="row h-100 mt-4 justify-content-sm-center">
		<div class="col-sm-4 card">
			<div class="card-body">
			<h4 class="card-title">注册</h4>
		  <form class="needs-validation" method="POST" action="/register" novalidate>
				<div class="form-group">
		    	<label for="inputEmail">Email</label>
		    	<input type="email" name="email" id="inputEmail" 
						class="form-control form-control-sm 
						{{if ne 0 (len .Error) }} {{if eq "" (index .Error "Email")}}is-valid{{else}}is-invalid{{end}} {{end}}" 
						placeholder="请输入Email" required 
						value="{{if ne 0 (len .Error)}}{{.User.Email}}{{end}}"
						{{if ne 0 (len .Error)}}autofocus="autofocus"{{end}}
						{{if and (ne 0 (len .Error)) (ne "" (index .Error "Email"))}}autofocus="autofocus"{{end}}>
					<div class="invalid-feedback" id="email-invalid-feedback">
						{{if ne 0 (len .Error)}}
							{{if ne "" (index .Error "Email")}}
								{{index .Error "Email"}}
						  {{else}}
						    请输入Email
							{{end}}
						{{else}}
						请输入Email
						{{end}}
					</div>
				</div>
				<div class="form-group">
		    	<label for="inputPassword">密码</label>
		    	<input type="password" name="password" value="" id="inputPassword" class="form-control form-control-sm
						{{if ne 0 (len .Error) }} {{if eq "" (index .Error "Password")}}is-valid{{else}}is-invalid{{end}} {{end}}" 
					 placeholder="Password" required>
					<div class="invalid-feedback" id="password-invalid-feedback">
						{{if ne 0 (len .Error)}}
							{{if ne "" (index .Error "Password")}}
								{{index .Error "Password"}}
							{{else}}
								请输入密码
							{{end}}
						{{else}}
						请输入密码
						{{end}}
					</div>
				</div>
				<div class="form-group">
		    	<label for="inputPasswordConfirm">确认密码</label>
		    	<input type="password" name="password_confirm" value="" id="inputPasswordConfirm" class="form-control form-control-sm 
						{{if ne 0 (len .Error) }} {{if eq "" (index .Error "PasswordConfirm")}}is-valid{{else}}is-invalid{{end}} {{end}}" 
					placeholder="Password" required>
					<div class="invalid-feedback" id="password-confirm-invalid-feedback">
						{{if ne 0 (len .Error)}}
							{{if ne "" (index .Error "PasswordConfirm")}}
								{{index .Error "PasswordConfirm"}}
							{{else}}
								请确认密码
							{{end}}
						{{else}}
						请确认密码
						{{end}}
					</div>
				</div>
				<div class="form-row">
  				<div class="form-group col-sm-4">
  		    	<label for="inputCaptcha">验证码</label>
  				  <input type=hidden name="captcha_id" value="{{.Captcha}}">
  		    	<input type="text" name="captcha" value="" id="inputCaptcha" class="form-control form-control-sm 
  				  {{if ne 0 (len .Error) }} {{if eq "" (index .Error "Captcha")}}is-valid{{else}}is-invalid{{end}} {{end}}" 
  				  placeholder="验证码" required>
  				</div>
  				<div class="form-group col-sm-4">
  		    	<label for="inputCaptcha"></label>
  				  <a href="javascript:void(0)" onclick="reload()"><img id="captchaImage" class="captcha" src="/captcha/{{.Captcha}}.png" alt="Captcha image"></a>
  				</div>
				</div>
				<div class="form-group">
				  <button type="submit" class="btn btn-primary btn-sm">注册</button>
				</div>
				<p class="text-sm-right">
					<a href="/forget_password">忘记密码?</a>
					<span>/</span>
					<a href="/login">登录</a>
				</p>
		  </form>
			<p class="mt-5 mb-3 text-muted">&copy; {{.SiteName}} 2017-2018</p>
			</div>
		</div>
	</div>
</div>
<script>
function setSrcQuery(e, q) {
	var src  = e.src;
	var p = src.indexOf('?');
	if (p >= 0) {
		src = src.substr(0, p);
	}
	e.src = src + "?" + q
}
function reload() {
	setSrcQuery(document.getElementById('captchaImage'), "reload=" + (new Date()).getTime());
	return false;
}
</script>
{{template "footer"}}
{{end}}
